<div class="featurebox">

<p> <span style="font-size: 10pt; "> 絕望啦！我對『 <%= h @note.content %> 』絕望啦！ </span> </p>
<p align ="right"><strong><%= h @note.nickname %>在 <%= @note.created_at %> 發出哀嚎(萎）
</strong>
絕望指數：<%= h @note.points %> </p>
</div>

