<ul id="nav-secondary">
  <li class="first"><%= link_to '史上最絕望', notes_path(:list => "hot") %></li>
<li class="first"><%= link_to '最近誰絕望', notes_path %></li>
<li class="first"><%= link_to '隨機挑選', random_path %></li>
</ul>
<link title="RSS 2.0" type="application/rss+xml" href="http://feeds.feedburner.com/dveryxd" rel="alternate" />
<p> </p>
<p>隨時接收各地的絕望…</p>
<a href="http://twitter.com/desbot"><img src="http://labs.creazy.net/twignature/img/desbot.gif" alt="twitter / desbot" /></a>

